section {
  background: rgba(128, 128, 128, 0.255);
}
h1 span::after {
  content: '';
  position: absolute;
  bottom: -1.199999px;
  left: 17%;
  width: 70%;
  height: 4px;
  border-radius: 2rem;
  background: rgb(255, 193, 7);
}
